body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../images/bg-backgound2.jpg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    padding-left: 5%;
    padding-right: 5%;
}
#template {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    width: 1200px;
    margin: 47px auto;
    border-radius: 4px;
}
#template div {
    width: 24%;
    background-color: #fff;
    margin: 10px 0;
    border: 2px solid #ccc;
}
#template img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
h1 {
    margin: 0;
}
#template a {
    padding: 10px;
    background-color: #777777;
    margin: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-bottom: 4px solid #111;
    transform: scale(1);
    transition: ease-in all 0.7s;
}
#template a:hover {
    background-color: #111;
}
#formBlock {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
#formBlock h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    color: red;
    padding: 0px 20px;
}
#formBlock p {
    font-size: 25px;
    color: red;
}
#formBlock input {
    padding: 15px;
    width: 600px;
    border-radius: 4px;
    border: none;
}
.afterkey_formBlock {
    display: flex;
    justify-content: flex-start !important;
    height: auto !important;
}
form {
    position: relative;
}
form i {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 20px;
    color: #111;
    text-shadow: 1px 0px 0px red;
}
